@use 'config';

:root {
	@each $name, $shades in config.$colors {
		@each $shade, $color in $shades {
			--#{$name}-#{$shade}: #{$color};
		}
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
